@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// $bg-color: #F8F1D6;
$bg-color: #faf8f1;
$font-color: #682B2B;
$fhover: #a13232;

@mixin flex($direction, $align, $justify){
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}